td {
    background: #00000017;
    padding: 5px 10px;
    text-align: center;
}

tr.waiting {
    background: #ffc1074a;
}

tr.completed {
    background: #00968861;
}

tr.ongoing {
    background: #2196f345;
}

.tab-header{
    background: #03a9f452;
    padding: 10px;
    display: inline-block;
}

.board{
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
}

table{
    width: 100%;
}